body {
    background-color: black;
}

.container-fluid {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    scroll-snap-align: start;
}

.carousel-container {
    padding: 0 10vw;
    margin: 0 auto;
}

.carousel-control-prev {
    left: -10vw;
    width: 10vw;
}

.carousel-control-next {
    right: -10vw;
    width: 10vw;
}

.carousel-indicators {
    position: static;
    margin-top: 20px;
}

.custom-toggler.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
} 

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }