body {
    background-color: black;
    overflow: hidden;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -20;

}

.container-fluid {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    z-index: 0;
}

section {
    scroll-snap-align: start;
}

.logo-container {
    position: fixed;
    left: 30px;
    top: 30px;
    z-index: 10;
    background-image: url("../logo_w.png");
    background-size: contain;
    height: 80px;
    width: 80px;
}


/* CONTENT STUFF */
.jumbotrono {
    margin: 0 125px;
}

.jumbotrono h2 {
    font-size: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.jumbotrono h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.jumbotrono p {
    font-weight: normal;
    font-size: 1em;
    color: white;
}

.jumbotrono .form-group {
    width: 50%;
}

.jumbotrono .form-group label {
    font-weight: normal;
    font-size: 1em;
    color: white;
    margin-bottom: 0;
}

.jumbotrono .form-group input#name, .jumbotrono .form-group input#email {
    font-weight: normal;
    font-size: 1em;
    color: white;
    background: none;
    border: none;
    border-bottom: solid 1px white;
    border-radius: 0px;
}

.jumbotrono .form-group.submit-container {
    text-align: right;
}

.jumbotrono .form-group.submit-container input#submit {
    font-size: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: none;
    background: none;
    padding: 0;
}

.jumbotrono .form-group.submit-container span.submit-arrow {
    font-size: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: none;
    background: none;
    padding: 0;
}


/* CAROUSEL STUFF */
.carousel-container {
    padding: 0 10vw;
    margin: 0 auto;
}

.carousel-control-prev {
    left: -10vw;
    width: 10vw;
}

.carousel-control-next {
    right: -10vw;
    width: 10vw;
}

.carousel-indicators {
    position: static;
    margin-top: 20px;
}

.carousel-item.active > div.row {
    margin: 0;
}


/* SIDEBAR STUFF */
div.sidebar-toggler {
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 100;
    margin: 5px;
}

.sidebar-toggler.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.sidebar-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}

.sidebar-overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
}

.sidebar-overlay {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    transition: right 1s ease;
    background-color: blue;
    z-index: 200;
}

.sidebar-overlay.collapse {
    right: 100vw;
}

.sidebar-overlay.collapse.show {
    right: 0;
}

.sidebar-overlay.collapsing {
    transition: right 1s ease;
}

ul.navbar-nav {
    height: 100%;
    padding: 100px;
}

li.nav-item {
    flex: 1;
    margin: 0 auto;
}